body {
    background-color: #2d2a3c;
    color: #f8e2ff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0 40px 60px;
}

/*Nav bar*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 0px 0;
}

nav a.left{
    background-color: #1a1823;
    color: #f8e2ff;
    font-family: 'Squada One', sans-serif;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    padding: 18px 28px;
    padding-bottom:10px;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 200px;
    min-width: 175px;
    margin-right: 10px;
    border-bottom-right-radius: 24px;
    border: 2px solid #e07a36;
    border-top: 0px;
    font-weight: bold;
}

nav a.left button{
    cursor: pointer;
}

nav a.left:hover {
    border: 3px solid #f8e2ff;
}

nav a.center{
    background-color: #1a1823;
    color: #f8e2ff;
    font-family: 'Squada One', sans-serif;
    font-size: 40px;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    padding: 12px 28px;
    padding-bottom:20px;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 500px;
    min-width: 200px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    border: 2px solid #e07a36;
    border-top: 0px;
    font-weight: bold;
}

nav a.center button{
    cursor: pointer;
}

nav a.center:hover {
    border: 3px solid #f8e2ff;
}


nav a.right {
    background-color: #1a1823;
    color: #f8e2ff;
    font-family: 'Squada One', sans-serif;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    width: fit-content;
    padding: 18px 28px;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 200px;
    min-width: 175px;
    margin-left: 10px;
    border-bottom-left-radius: 24px;
    border: 3px solid #ffd9d0;
    border-top: 0px;
    font-weight: bold;
}

nav a.right button{
    cursor: pointer;
}

div {
    margin: 40px auto;
    box-shadow:
        4px 4px 0 #e07a36,
        -4px -4px 0 #b24ad0;
    border-radius: 35px;
    max-width: 1050px;
    padding: 5px;
}

/* main ttile*/
h1 {
    text-align: center;
    font-family: 'Squada One', sans-serif;
    font-style: normal;
    font-size: 100px;
    font-weight: 900;
    color: #f8e2ff;

    /*glitch effect*/
    text-shadow:
        3px 3px 0 #e07a36,
        -3px -3px 0 #b24ad0;
    margin: 40px 0 0;
}

h3 {
    font-family: 'Rubik One', sans-serif;
    font-size: 34px;
    text-align: center;
    font-weight: 550;
    max-width: 400px;
    line-height: 1.25;
    color: #f8e2ff;
    border-bottom: 4px solid #ffd9d0;
    border-radius: 4px;

    text-shadow:
        0px 0px 0 #e07a36,
        -2px -1px 0 #b24ad0;
    margin: 40px auto 40px;
}


h2 {
    font-family: 'Rubik One', sans-serif;
    font-size: 34px;
    text-align: center;
    font-weight: 550;
    max-width: 400px;
    line-height: 1.25;
    color: #f8e2ff;
    border-bottom: 4px solid #ffd9d0;
    border-radius: 4px;

    flex-shrink: 0;

    text-shadow:
        0px 0px 0 #e07a36,
        -2px -1px 0 #b24ad0;
    margin: 40px auto 40px;
}

p {
    font-family: 'Rubik One', sans-serif;
    font-size: 23px;
    line-height: 1.5;
    color: #f8e2ff;
    font-weight: 500;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 20px;
    text-shadow:
        0px -0px 0 #e07a36;
    margin: 40px auto 40px;
}

p.green {
    font-family: 'Rubik One', sans-serif;
    font-size: 23px;
    line-height: 1.5;
    color: #5fd88c;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 20px;
    text-shadow:
        0px -0px 0 #e07a36;
}

p.red {
    font-family: 'Rubik One', sans-serif;
    font-size: 23px;
    line-height: 1.5;
    color: #f38787;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 20px;
    text-shadow:
        0px 0px 0 #e07a36;
}

a.form-link {
    display: block;
    text-align: center;
    font-family: 'Squada One', sans-serif;
    font-size: 26px;
    color: #f8e2ff;
    text-decoration: none;
    margin-top: 20px;
}

a.form-link:hover {
    text-decoration: underline;
    text-shadow:
        1px 1px 0 #e07a36,
        -1px -1px 0 #b24ad0;
}

div id.visually-hidden {
    border: 0;
    box-shadow: none;
}